.navbar {
	padding: 1rem 0;
	background-color: #3bb19b;
	font-size: 1.2rem;

}
  .customIcon {
	transition: transform 0.3s ease-in-out;
  }
  
  .customIcon:hover {
	transform: scale(1.2); /* Applique une échelle de 1.2 (zoom) au survol */
  }

.icon {
	font-size: 1.8rem;
	color: #000000;
}
.icon1 {
	font-size: 2.5rem;
	color: #ee0b0b;

}

.navbar-brand {
	font-weight: bolder;

}

.navbar-toggler {
	border: none;
	outline: none;
}

.navbar-nav {
	display: flex;
	align-items: end;
}

.nav-link {

	margin-right: 1rem;
	font-weight: bolder;
}

.nav-link:hover {

	text-decoration: none;
}

.nav-link.active {
	text-decoration:  white;
}

@media (max-width: 991px) {
	.navbar-nav {
		display: none;
	}
	.navbar-collapse {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #3bb19b;
		padding-top: 3rem;
		z-index: 9999;
		overflow-y: scroll;
		transform: translateY(-100%);
		transition: transform 0.3s ease;
	}
	.navbar-collapse.show {
		transform: translateY(0%);
	}
	.nav-link {
		display: block;
		padding: 1rem;
		margin-right: 0;
		font-weight: bold;
		border-top: 1px solid rgb(140, 226, 243);

	}
	.nav-link.active {
		text-decoration: #f1f1f1;
	}
}
