.navbar {
	padding: 1rem 0;
	background-color: #3bb19b;
	color: #f5e9e9;
	font-size: 1.2rem;

}
.icon {
	font-size: 1.8rem;
	color: #41f518;
}
.icon1 {
	font-size: 2.5rem;
	color: #57fa32;

}

.navbar-brand {

	font-weight: bolder;
	color: #e8e2e2;
}

.navbar-toggler {
	border: none;
	outline: none;
}

.navbar-toggler-icon {
	color: #fff;
}

.navbar-nav {
	display: flex;
	align-items: end;
}

.nav-link {
	color: #fff;
	margin-right: 1rem;
	font-weight: bolder;
}

.nav-link:hover {
	color: #fff;
	text-decoration: none;
}

.nav-link.active {
	color: #fff;
	text-decoration:  white;
}

@media (max-width: 991px) {
	.navbar-nav {
		display: none;
	}
	.navbar-collapse {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #3bb19b;
		padding-top: 3rem;
		z-index: 9999;
		overflow-y: scroll;
		transform: translateY(-100%);
		transition: transform 0.3s ease;
	}
	.navbar-collapse.show {
		transform: translateY(0%);
	}
	.nav-link {
		display: block;
		padding: 1rem;
		margin-right: 0;
		font-weight: bold;
		border-top: 1px solid rgb(140, 226, 243);
		color: white;
	}
	.nav-link.active {
		text-decoration: #f1f1f1;
	}
}
